<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="berrybolter_arm">

  <xacro:arg name="prefix" default="" />

  <xacro:property name="tf_prefix" value="$(arg prefix)" />
  <xacro:if value="${tf_prefix != ''}">
      <xacro:property name="tf_prefix" value="$(arg prefix)/" />
  </xacro:if>

  <material name="white_matte">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="graphite_grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <material name="silver_metallic">
    <color rgba="0.75 0.75 0.75 1.0"/>
  </material>

  <material name="camera_black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <link name="${tf_prefix}arm_base"> </link>

  <joint name="arm_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="${tf_prefix}arm_base" />
    <child link="${tf_prefix}base_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="${tf_prefix}base_link">
    <inertial>
      <origin xyz="0.0197211670736996 0.182399794343525 -0.0295090040010643" rpy="0 0 0" />
      <mass value="1.06323708367674" />
      <inertia ixx="0.0106130412322237" ixy="6.04961182724918E-07" ixz="-3.49479168027295E-07" iyy="0.00046953336886374" iyz="-5.37613073875177E-07" izz="0.0106608814519074" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/base_link.STL" />
      </geometry>
      <material name="graphite_grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="${tf_prefix}link1">
    <inertial>
      <origin xyz="0.00506930950822041 -0.0593603114083569 -0.00761106543376755" rpy="0 0 0" />
      <mass value="0.158262849711928" />
      <inertia ixx="0.000225954058093258" ixy="-1.68536374155788E-05" ixz="-4.7610312852057E-07" iyy="0.000114241679910785" iyz="-5.65072531384223E-07" izz="0.000337713332686057" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link1.STL" />
      </geometry>
      <material name="white_matte"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint1" type="prismatic">
    <origin xyz="0 0.14775 0.015" rpy="0 0 0" />
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}link1" />
    <axis xyz="0 1 0" />
    <limit lower="0.001" upper="0.235" effort="0" velocity="0" />
  </joint>

  <link name="${tf_prefix}link2">
    <inertial>
      <origin xyz="0.0184895167105354 -0.0139430145360977 0.23955661765532" rpy="0 0 0" />
      <mass value="2.18422282264348" />
      <inertia ixx="0.0296378356876729" ixy="3.95234042255307E-07" ixz="-5.4329774822049E-06" iyy="0.029579439878013" iyz="9.17655854255314E-05" izz="0.00136581284035559" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link2.STL" />
      </geometry>
      <material name="white_matte"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint2" type="revolute">
    <origin xyz="0 -0.01 0" rpy="0 0 0" />
    <parent link="${tf_prefix}link1" />
    <child link="${tf_prefix}link2" />
    <axis xyz="0 0 -1" />
    <limit lower="-6.28" upper="6.28" effort="100" velocity="100" />
  </joint>

  <link name="${tf_prefix}link3">
    <inertial>
      <origin xyz="0.00388065991284213 0.00253110477111378 -0.00928648381246971" rpy="0 0 0" />
      <mass value="0.329043385525775" />
      <inertia ixx="0.000469319685233757" ixy="2.49004452925998E-07" ixz="0.00011328997996073" iyy="0.000508366053747164" iyz="-1.86273600616433E-06" izz="0.000315499973006906" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link3.STL" />
      </geometry>
      <material name="white_matte"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint3" type="prismatic">
    <origin xyz="0.09 -0.0090742 0.15096" rpy="0 0 0" />
    <parent link="${tf_prefix}link2" />
    <child link="${tf_prefix}link3" />
    <axis xyz="0 0 1" />
    <limit lower="0.001" upper="0.45" effort="100" velocity="100" />
  </joint>

  <link name="${tf_prefix}link4">
    <inertial>
      <origin xyz="0.0503580079754425 -1.18094902312738E-06 -0.0340360566082137" rpy="0 0 0" />
      <mass value="0.524692553464717" />
      <inertia ixx="0.000351855249124899" ixy="4.9054358893413E-08" ixz="-4.25169598638684E-05" iyy="0.000844815591844293" iyz="-6.934405405398E-09" izz="0.000959740855494068" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link4.STL" />
      </geometry>
      <material name="white_matte"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link4.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint4" type="revolute">
    <origin xyz="0.044 -0.0011758 -0.044462" rpy="-3.1416 0 1.666" />
    <parent link="${tf_prefix}link3" />
    <child link="${tf_prefix}link4" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.25" upper="-0.001" effort="100" velocity="100" />
  </joint>

  <link name="${tf_prefix}link5">
    <inertial>
      <origin xyz="0.0696595786100513 0.0442438413858763 0.0215608314132782" rpy="0 0 0" />
      <mass value="0.322048325914565" />
      <inertia ixx="0.000272154691570352" ixy="-0.000117122104649212" ixz="1.82097588815412E-05" iyy="0.000382683986902875" iyz="1.16244011164403E-05" izz="0.000539729810082325" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link5.STL" />
      </geometry>
      <material name="white_matte"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link5.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint5" type="revolute">
    <origin xyz="0.12 0 0.011" rpy="-3.1416 0 2.3966" />
    <parent link="${tf_prefix}link4" />
    <child link="${tf_prefix}link5" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.6" upper="-0.001" effort="100" velocity="100" />
  </joint>

  <link name="${tf_prefix}link6">
    <inertial>
      <origin xyz="-0.00898350703370449 0.0018860042428713 -0.0210412937652294" rpy="0 0 0" />
      <mass value="0.253827881523726" />
      <inertia ixx="9.15686968551811E-05" ixy="-2.69909446757586E-05" ixz="-6.02648533003112E-06" iyy="0.000118166267760229" iyz="-2.85934681064961E-06" izz="0.000167537055343731" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link6.STL" />
      </geometry>
      <material name="white_matte"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link6.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint6" type="revolute">
    <origin xyz="0.10972 0.069719 -0.048" rpy="0 0 1.9745" />
    <parent link="${tf_prefix}link5" />
    <child link="${tf_prefix}link6" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="4.0" effort="100" velocity="100" />
  </joint>

  <link name="${tf_prefix}link7">
    <inertial>
      <origin xyz="-5.13695096159006E-05 7.66057638060258E-05 0.0225778253514557" rpy="0 0 0" />
      <mass value="0.018196495395731" />
      <inertia ixx="4.10896230653745E-06" ixy="-3.93663694833085E-08" ixz="-3.47719080910136E-09" iyy="4.17136180393792E-06" iyz="-1.77211286610884E-08" izz="1.40911236957971E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/link7.STL" />
      </geometry>
      <material name="silver_metallic"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/link7.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint7" type="revolute">
    <origin xyz="0.050498 0.034219 -0.02501" rpy="-1.5708 0 -0.97525" />
    <parent link="${tf_prefix}link6" />
    <child link="${tf_prefix}link7" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="100" />
  </joint>

  <link name="${tf_prefix}ee_link">
    <inertial>
      <origin xyz="-0.000104505874267746 0.000576605763808247 -0.0439221746485539" rpy="0 0 0" />
      <mass value="0.018196495395731" />
      <inertia ixx="4.10896230653843E-06" ixy="-3.93663694832292E-08" ixz="-3.47719080912441E-09" iyy="4.17136180393797E-06" iyz="-1.77211286611878E-08" izz="1.40911236958069E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/ee_link.STL" />
      </geometry>
      <material name="graphite_grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/ee_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="ee_joint" type="fixed">
    <origin xyz="5.3136E-05 -0.0005 0.0665" rpy="0 0 0" />
    <parent link="${tf_prefix}link7" />
    <child link="${tf_prefix}ee_link" />
    <axis xyz="0 0 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>

  <link name="${tf_prefix}camera_link">
    <inertial>
      <origin xyz="-0.00836173295042576 -0.0089553548686081 -0.00680992475882553" rpy="0 0 0" />
      <mass value="0.031379859428563" />
      <inertia ixx="1.2078665761647E-05" ixy="6.71231870716078E-10" ixz="-1.23446693039961E-06" iyy="7.09477740111002E-06" iyz="3.79676979930018E-10" izz="7.52636014077323E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/visual/camera_link.STL" />
      </geometry>
      <material name="camera_black"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes_single_arm/collision/camera_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <origin xyz="0.0535264795602718 0.0471423874193815 0.0242769003020624" rpy="0 0.174532925199436 0.59554890101875" />
    <parent link="${tf_prefix}link6" />
    <child link="${tf_prefix}camera_link" />
    <axis xyz="0 0 0" />
  </joint>

</robot>